<% provide(:title, 'Print') %>
<h1>Print</h1>


<%= form_tag do %>

	<%= radio_button_tag(:ink, "black") %>
	<%= label_tag(:ink_black, "Black & White") %>
	<%= radio_button_tag(:ink, "color") %>
	<%= label_tag(:ink_color, "Full Color") %>

	<%= submit_tag "Submit my Print Request", class: "btn btn-large btn-primary" %>
<% end %>
