<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <h5> <%= @user.address %> </h5>
      <h5> <%= @user.town %> , <%= @user.state %> </h5>
      <h5> <%= @user.phone %> </h5>
    </section>
  </aside>
</div>